.rubrika-container {
  width: 100%;
  height: 35px;
  overflow: hidden;
  padding: 0 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.rubrika-container-active {
  height: 68px;
}
.rubrika-link {
  position: relative;
  top: 3px;
  cursor: pointer;
}
.rubrika-link i {
  font-size: 25px;
  position: absolute;
  top: -5px;
  color: var(--mainWhite);
}
.rubrika-link span {
  padding-left: 40px;
  font-size: 20px;
  color: var(--mainWhite);
  font-family: var(--mainFontsGithic), sans-serif;
}
.rubrika-filters {
  display: flex;
  transition: 0.5s;
  justify-content: space-between;
  margin: 5px 0 0;
  padding: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.rubrika-filter {
  cursor: pointer;
  background-color: var(--mainWhite);
  padding: 5px;
  list-style: none;
  display: inline-block;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.activeLiRubrica {
  background-color: var(--mainGreen);
  color: var(--mainWhite);
}
.filterDone {
  margin: 0 0 0 5px;
  padding: 0;
}
.filterDone, .filterDone-item {
  display: inline-block;
}
.filterDone-item {
  color: var(--mainWhite);
  font-size: 12px;
  padding: 0 3px;
}
@media (max-width: 400px) {
  .rubrika-container {
    height: 26px;
  }
  .rubrika-container-active {
    height: 57px;
  }
  .filterDone-item {
    font-size: 8px;
  }
}
@media (max-width: 450px) {
  .rubrika-link span {
    padding-left: 17px;
    font-size: 15px;
  }
  .rubrika-link i {
    font-size: 18px;
    top: 0;
  }
  .rubrika-filter {
    font-size: 10px;
  }
}