.rubrika-container {
  width: 98%;
  /*height: 35px;
  *//*overflow: hidden;
  */
  padding: 5px 10px;
  /* transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s; */
  /* top: 480px; */
  z-index: 2;
  /* position: absolute; */
  background-color: var(--mainBlack);
  border-radius: 10px;
  margin: 5px;
  /* left: 100%; */
}
/* .rubrika-container-active { */
  /* height: 68px; */
  /* left: 0; */
/* } */
.rubrika-link {
  position: relative;
  /* top: 3px; */
  cursor: pointer;
  /* left: -40px; */
  /* transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s; */
}
/* .rubrika-link-Active {
  left: 0;
} */
.rubrika-link i {
  font-size: 25px;
  position: absolute;
  top: -5px;
  color: var(--mainWhite);
}
.rubrika-link span {
  padding-left: 40px;
  font-size: 20px;
  color: var(--mainWhite);
  font-family: var(--mainFontsGithic), sans-serif;
}
.rubrika-filters {
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: var(--mainBlack);
  width: 100%;
  flex-direction: column;
  bottom: -280px;
  display: flex;
  transition: 0.5s;
  justify-content: space-between;
  margin: 5px 0 0;
  padding: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.rubrika-filters-Active {
  bottom: 62px;
}
.rubrika-filter {
  margin: 8px 5px;
  text-align: center;
  cursor: pointer;
  background-color: var(--mainWhite);
  padding: 5px;
  list-style: none;
  display: inline-block;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.activeLiRubrica {
  background-color: var(--mainGreen);
  color: var(--mainWhite);
}
.filterDone {
  margin: 0 0 0 5px;
  padding: 0;
}
.filterDone, .filterDone-item {
  display: inline-block;
}
.filterDone-item {
  color: var(--mainWhite);
  font-size: 12px;
  padding: 0 3px;
}
@media (max-width: 400px) {
  /* .rubrika-container {
    height: 26px;
  }
  .rubrika-container-active {
    height: 57px;
  } */
  .filterDone-item {
    font-size: 8px;
  }
}
@media (max-width: 450px) {
  .rubrika-link span {
    padding-left: 30px;
    font-size: 15px;
  }
  .rubrika-link i {
    font-size: 18px;
    top: 0;
  }
  .rubrika-filter {
    font-size: 14px;
  }
}