body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--mainGrey)!important;
}
@font-face {
  font-family: 'centuryGothic';
  src: local('centuryGothic'), url(./assets/fonts/centuryGothic.ttf) format('ttf');
}
/* @import  url('./assets/fonts/centuryGothic.ttf'); */
:root {
  --mainWhite: #fff;
  --mainBlack: #2B2A29;
  --mainGreen: #66B337;
  --mainGrey: #434242;
  --mainRed: #E31E24;
  --mainFontsGithic: "centuryGothic";
  --mainGreyLight: #727271;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,900");
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.wrapper {
  height: 100vh;
  overflow-y: hidden;
}
.overflowHidden {
  overflow: hidden;
}
