.ParamsBestMoment-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  margin: 0;
  background-color: var(--mainGrey);
}
.ParamsBestMoment-block {
  border: 2px solid var(--mainWhite);
  width: 100px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  transition: 0.45s;
  cursor: pointer;
  -webkit-transition: 0.45s;
  -moz-transition: 0.45s;
  -ms-transition: 0.45s;
  -o-transition: 0.45s;
}
.ParamsBestMoment-block_active {
  border-color: var(--mainGreen);
}
.ParamsBestMoment-block span {
  color: var(--mainWhite);
  font-size: 14px;
  display: block;
  width: 70px;
  font-family: var(--mainFontsGithic), sans-serif;
  text-align: center;
}
@media (max-width: 380px) {
  .ParamsBestMoment-block {
    width: 85px;
  }
  .ParamsBestMoment-block span {
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .ParamsBestMoment-block {
    width: 72px;
  }
  .ParamsBestMoment-block span {
    font-size: 12px;
  }
}