.visibleParam {
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.onVisibleParam {
  height: 200px;
} 
.SettingParamsBest-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 7px 10px;
  background-color: var(--mainGrey);
}
.SettingParamsBest-block {
  display: inline-block;
  cursor: pointer;
  border: 2px solid var(--mainWhite);
  display: flex;
  width: 170px;
  height: 35px;
  justify-content: center;
  align-items: center;
  transition: 0.45s;
  -webkit-transition: 0.45s;
  -moz-transition: 0.45s;
  -ms-transition: 0.45s;
  -o-transition: 0.45s;
}
.SettingParamsBest-block-active {
  border: 2px solid var(--mainGreen);
}
.SettingParamsBest-block span {
  font-family: var(--mainFontsGithic), sans-serif;
  font-size: 14px;
  color: var(--mainWhite);
}
.top-bottum {
  position: relative;
  width: 23px;
  height: 23px;
  background-color: var(--mainBlack);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.top-bottum span {
  transition: 0.5s;
  cursor: pointer;
  position: absolute;
  border-left: 2px solid var(--mainWhite);
  border-top: 2px solid var(--mainWhite);
  height: 10px;
  width: 10px;
  top: 5px;
  left: 7px;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.top-bottum-active span {
  top: 8px;
  left: 7px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
@media (max-width: 450px) {
  .SettingParamsBest-block {
    width: 145px;
    height: 30px;
  }
  .SettingParamsBest-block span {
    font-size: 13px;
  }
}
