.top_infoLesson {
  padding: 10px 10px;
  color: var(--mainWhite);
  font-size: 16px;
  font-family: var(--mainFontsGithic), sans-serif;
}
.top_infoLesson span {
  text-decoration: underline;
} 
.like-item:active {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}