.ParamsTypes-container {
  width: 100%;
  overflow-x: scroll;
  background-color: var(--mainGreyLight);
}
.ParamsTypes-container ul {
  padding: 10px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.ParamsTypes-block {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  
}
.ParamsTypes-block img {
  width: 100px;
  border: 1px solid white;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  /* box-sizing: content-box; */
}
.ParamsTypes-block-active img {
  border-top: 2px solid var(--mainGreen);
  border-right: 2px solid var(--mainGreen);
  border-left: 2px solid var(--mainGreen);
}
.ParamsTypes-block span {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  display: block;
  text-align: center;
  color: var(--mainWhite);
  font-size: 14px;
  font-family: var(--mainFontsGithic), sans-serif;
  background-color: var(--mainGrey);
  border-bottom: 1px solid var(--mainWhite);
  border-right: 1px solid var(--mainWhite);
  border-left: 1px solid var(--mainWhite);
}
.ParamsTypes-block-active span {
  border-bottom: 2px solid var(--mainGreen);
  border-right: 2px solid var(--mainGreen);
  border-left: 2px solid var(--mainGreen);
}