.ShowVideoBM-wrapper .top_info {
  border-top: 2px solid var(--mainWhite);
}
.ReactPlayer-wrapper {
  width: 100%;
  margin: 5px 0;
}
.ShowVideoBM-wrapper .infoBlock::after {
  left: 0;
  width: 100%;
  background-color: var(--mainWhite)
}
.ShowVideoBM-wrapper .title {
  font-family: var(--mainFontsGithic), sans-serif;
  font-size: 17px;
  padding: 10px;
  color: var(--mainWhite)
}
.ShowVideoBM-wrapper .top_info-avatar {
  height: 50px;
}
.ShowVideoBM-wrapper .top_info-avatar img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}